header{
	width: 100%;
	border-bottom: 1px solid #B0E2FF;
	text-align: center;
}
header h3{
	width: 40%;
}
#date {
	width: 100%;
	float: left;
}

#Thead {
	width: 100%;
	text-align: center;
}

#Thead span {
	margin: 0 20%;
}

#CalenderTable {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

#CalenderTable td {
	padding: 10px;
	border: 1px solid #CAE1FF;
	position: relative;
}

#CalenderTable thead {
	font-size: 13px;
	color: #000000;
}

#CalenderTable thead .week {
	color: #007AFF;
}

#CalenderTable .week {
	background: #B0E2FF;
}

#CalenderTable .now {
	background: #B0E2FF;
	box-shadow: inset 0px 0px 1px #000000;
	-moz-box-shadow: inset 0px 0px 1px #000000;
	-webkit-box-shadow: inset 0px 0px 1px #000000;
	border: 0;
}

.otherMonth {
	color: #999999;
}

#headTitle {
	width: 100%;
	text-align: center;
}

#headTitle span {
	margin: 0 5%;
}

#headTitle .selectMonth{

	font-size: 20px;
	color: #9FB6CD;
}

#title {
	color: #000000;
	font-size: 20px;
}

#CalenderTable .haveDay {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 45px;
	background: red;
	right: 5px;
	top: 5px;
}

#addDaily {
	width: 40%;
	height: 300;
	float: left;
	margin-left: 5%;
	margin-top: 30px;
}

#dailyDate {
	text-align: center;
}

#Daily {
	width: 100%;
	height: 200px;
}

#setDaily {
	position: relative;
	left: 50%;
	margin: 20px -50px;
	text-align: center;
	width: 100px;
}

#DailyFromDate {
	margin-top: 50px;
	width: 97%;
	float: left;
}

#DailyFromDate h1 {
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

#DailyFromDate .daily {
	width: 50%;
	height: 20px;
	background: #B0E2FF;
	border: 1px solid floralwhite;
	margin: 10px auto;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 10px;
	color: white
}

#DailyFromDate .noMessage{
    list-style: none;
    text-align: center;
    margin-top: 100px;
    color: #9FB6CD;

}

