#date{
	width: 50%;
	float: left;
}
#Thead{
	width: 100%;
	text-align: center;
}
#Thead span{
	margin: 0 20%;
}
 #CalenderTable {
 	width: 100%;
 	text-align: center;
 }
 
 #CalenderTable td {
 	padding: 10px;
 	border: 1px solid #ccc;
 	position: relative;
 }
 
 #CalenderTable thead {
 	font-size: 13px;
 	color:#000000;
 }
 
 #CalenderTable thead .week {
 	color: #007AFF;
 }
 
 #CalenderTable .week {
 	background: #DDDDDD;
 }
 
 #CalenderTable .now {
 	background: #DDDDDD;
 	box-shadow: inset 0px 0px 1px #000000;
 	-moz-box-shadow: inset 0px 0px 1px #000000;
 	-webkit-box-shadow: inset 0px 0px 1px #000000;
 	border: 0;
 }
 
 .otherMonth {
 	color: #999999;
 }
 
 #headTitle{
 	width: 50%;
 	text-align: center;
 }
 #headTitle button{
 	margin: 0 5%;
 }
 #title {
 	
 	color: #000000;
 	font-size: 20px;
 }
 

#CalenderTable .haveDay {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 45px;
	background: red;
	right: 5px;
	top: 5px;
}

#addDaily{
	width: 40%;
	height: 200px;
	float: left;
	margin-left: 5%;
	margin-top: 30px;
}
#dailyDate{
	text-align: center;
}
#Daily{
	width: 100%;
	height: 200px;
}
#setDaily{
	position: relative;
	left: 50%;
	margin: 20px -50px;
	text-align: center;
	width: 100px;
}
